{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="col-12">
                <div class="container">
                    <div class="droppable" id="dropzone">
                      <p>Arrastra y suelta los archivos aquí</p>
                    </div>
                  </div>
                
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                  <script>
                    $(document).ready(function() {
                      // Escucha el evento drop
                      $('#dropzone').on('drop', function(event) {
                        // Evita que el navegador abra el archivo
                        event.preventDefault();
                
                        // Obtiene los archivos
                        var files = event.originalEvent.dataTransfer.files;
                
                        // Sube los archivos al servidor
                        for (var i = 0; i < files.length; i++) {
                          var file = files[i];
                
                          // Crea un formData para enviar los datos
                          var formData = new FormData();
                          formData.append('file', file);
                
                          // Envia el formData al servidor
                          $.ajax({
                            url: '/upload',
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                              // Imprime la respuesta del servidor
                              console.log(response);
                            }
                          });
                        }
                      });
                    });
                  </script>
            </div>
        </div>
    </div> 

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
